.idea
.vs
.vscode/settings.json
build
cmake-build*
node_module*
Client/node_module*
Client/out
Client/package-lock*
Client/SkyrimClient.exe*
Client/InworldClient.log
Client/InworldClientError.log
.env
Client/.env
SKSE/build
SKSE/.vs